.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.dark-2 {
  color: #474747;
}
/* shared styles */
.secondary-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  padding: 18px 30px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.btn-primary:hover {
  background-color: #793505;
  color: #efe9e9;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 18px;
  color: #757575;
}

.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.text-center {
  text-align: center;
}
/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

nav ul {
  display: flex;
  align-items: center;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

benner-title {
  font-weight: bold;
  font-size: 85px;
}

.banner-profile-picture {
  width: 580px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-title {
  color: #757575;
}
.item-description {
  font-weight: 600;
  color: #474747;
}

/* skill section style  */

.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.12);
}
.section-title {
  font-weight: 700px;
  font-size: 35px;
  text-align: center;
}

.resume-container {
  display: flex;
  gap: 24px;
}
.resume-column-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  text-decoration: underline;
  /* text-decoration: solid; */
}
.experience-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 20px;
  color: #757575;
}
.experience-description {
  color: #757575;
}
.resume hr {
  margin: 30px 5px;
}
.resume-download-cv-btn {
  margin-top: 50px;
}

/* footer stylees */

footer {
  padding: 130px;
  display: flex;
  gap: 100px;
}

.footer-column {
  width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  color: #757575;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}

/* Responsive Media Query  */
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  .skill-container,
  .resume-container,
  footer,
  .banner,
  nav,
  nav > ul,
  .about-items {
    flex-direction: column;
  }
  nav > ul {
    gap: 20px;
  }
  .btn-primary {
    margin-bottom: 20px;
  }
  .banner,nav {
    margin: 20px;
  }
  .header {
    background-image: none;
  }
  .banner-profile-picture {
    width: 100%;
  }
  footer,
  .about {
    padding: 20px;
  }
  .footer-column {
    width: 100%;
  }
  footer input[type="text"],
  footer input[type="email"],
  footer textarea {
    width: calc(100% - 40px);
  }
}
